footer {
  background-color: #1C2639;
  color: #fff;
  padding-top: 60px;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    &:first-child > div {
      margin: 0 auto 50px;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .brand {
    font-size: 16px;
    font-weight: 700;
    span {
      display: block;
    }
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        margin: 5px 0;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .office {
    address {
      font-style: normal;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      span {
        display: block;
      }
    }
  }
  .social {
    &-networks {
      a {
        color: #fff;
        &:nth-child(2) {
          margin: 0 20px;
        }
        &:hover {
          color: darken(#fff, 20%);
        }
      }

    }
  }
  hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
  }
  .rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    color: #fff;
    font-size: 16px;

    .privacy {
      a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
      }
    }

  }
}

@media screen and (max-width: 750px){
  footer {
    .content {
      justify-content: center;
      .brand {
        width: 100%;
        text-align: center;
      }
      &:first-child >div {
        width: 250px;
      }
      h4 {
        text-align: center;
      }
      .footer-contacts {
        .links {
          a {
            margin: 5px auto;
          }
        }
      }
      .office {
        address {
          text-align: center;
        }
      }
      .social {
        &-networks {
          text-align: center;
        }
      }
    }
    .rights {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .privacy {
        margin-top: 30px;
      }
    }
  }
}
