@font-face {
  font-family: InterUIBlack;
  src: url('./fonts/Inter-UI-Black.otf') format('opentype');
}
@font-face {
  font-family: InterUIBold;
  src: url('./fonts/Inter-UI-Bold.otf') format('opentype');
}
@font-face {
  font-family: InterUIRegular;
  src: url('./fonts/Inter-UI-Regular.otf') format('opentype');
}
body {
  margin: 0;
  font-family: InterUIRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
h2 {
  font-family: InterUIBlack, sans-serif;
}
h4 {
  font-family: InterUIBold, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
