.contacts {
  display: flex;
  text-align: center;
  color: #202430;
  h4 {
    font-size: 14px;
    margin-top: 80px;
    text-transform: uppercase;
  }
  h2 {
    margin: 20px auto 60px;
    font-size: 48px;
  }
  .iframe-container {
    position: relative;
    width:100%;
    height: 450px;
    iframe {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      border: none;
    }
    &-info {
      position: absolute;
      right: 60px;
      top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 340px;
      height: 347px;
      padding: 30px 40px ;
      border-radius: 8px;
      background-color: #fff;
      h3 {
        font-size: 24px;
        font-family: InterUIBlack, sans-serif;
        text-align: left;
      }
      address {
        text-align: left;
        font-size: 16px;
        font-style: normal;
        margin: 20px auto 10px;
        width: 100%;
      }
      a {
        display: block;
        text-align: left;
        text-decoration: none;
        font-family: InterUIBold, sans-serif;

        font-size: 16px;
        font-weight: 700;
        margin: 5px auto;
        color: inherit;
      }
      .links {
        width: 100%;
        margin: 20px auto;
      }
      button {
        width: 151px;
        height: 44px;
        background-color: #3140C5;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: InterUIBold, sans-serif;
        cursor: pointer;
        transition: .1s background-color;
        &:hover {
          background-color: darken(#3140C5, 20%);
          transition: .1s background-color;
        }
      }
    }
  }
}
