.feedback {
  display: flex;
  background-color: #2A2E53;
  position: relative;
  color: #fff;
  text-align: center;
  .loading-container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    animation: fade-in-out infinite linear;
    svg {
      display: flex;
      margin: auto;
      animation: rotating 2s infinite linear;
      color: #202430;
    }
  }
  h4 {
    font-size: 14px;
    margin-top: 80px;
    text-transform: uppercase;
  }
  h2 {
    margin: 20px auto;
    font-size: 48px;
  }
  p {
    font-size: 18px;
    margin-bottom: 60px;
  }
  &-content {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }
  .back-form {
    position: relative;
    .res-message-success,
    .res-message-error {
      position: absolute;
      left: 0;
      right: 0;
      top: -50px;
      width: 300px;
      margin: 0 auto;

      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      color: #202430;
      border: 1px solid #7b7b7b;
      animation: fade-in-out 2s linear;
    }
    .res-message-error {
      color: darkred;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    .inputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .input-container{
      position: relative;
      width: 360px;
      height: 60px;
      margin-bottom: 20px;
      input {
        width: 100%;
        height: 100%;
        padding: 20px 18px;
        font-family: InterUIRegular, sans-serif;

        border: none;
        border-radius: 4px;
        font-size: 16px;
        color: #000;
      }
      &:focus {
        outline: none;
      }
      &:nth-child(2n+1) {

        margin-right: 30px;
      }
      input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
        color: #fff;
        transform: translate(0, -40px);
        font-size: 14px ;
      }
      input:focus + .placeholder-text .text{

      }
      .placeholder-text{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        color: #202430;
        font-size: 16px;
        background-color: transparent;
        pointer-events: none;
      }
      .text{
        padding: 0 10px;
        background-color: transparent;
        transform: translate(0);
        color: #202430;
        transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
      }

    }

    textarea {
      width: 100%;
      height: 180px;
      border-radius: 4px;
      resize: none;
      padding: 24px 18px;
      font-size: 16px;
      color: #000;
      font-family: InterUIRegular, sans-serif;
      &::placeholder {
        color: #202430;
      }
    }
    input[type='submit'] {
      background-color: #DB3A40;
      color: #fff;
      max-width: 434px;
      width: 100%;
      height: 60px;
      margin: 30px auto 70px ;
      font-size: 18px;
      font-weight: 700;
      font-family: InterUIBlack, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: .1s background-color;
      &:hover {
        background-color: darken(#DB3A40, 10%);
        transition: .1s background-color;
      }
    }
  }
}
@keyframes rotating {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 800px){
  .feedback {
    p, h2 {
      padding: 15px;
    }
    form {
      padding: 15px;
      .input-container, .input-container:nth-child(2n+1)  {
        margin: 15px;
      }
      .input-container:last-child {
        margin-bottom: 30px;
      }
      input[type='submit'] {
        font-size: 14px;
      }
    }
  }
}
